body{
	padding: 0;
	margin: 0;
	background-color: #eee !important;
    font-family: Roboto !important;
}
.ds-n {
    display: none;
}
.sidebar input[type="text"] {
    border: none;
    width: 100%;
    padding: 4px 33px 4px 4px;
}
.sidebar button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.sidebar form {
    position: relative;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}
.container {
    max-width: 1320px !important;
}
.sticky {
    position: fixed;
    transition: all .25s linear 0s;
    z-index: 5;
}
pre[class*=language-]>code {
    border-left: 1px !important;
}
pre[class*=language-] {
    overflow: auto !important;
}


/*--=============== header-css-start ================--*/
.top_header{
	background-color: #0288d1;
    width: 100%;
}
.navbar {
    border-bottom: 1px solid #f1f1f1;
    padding: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: unset;
    padding-left: 16%;
}
.nav-link {
    color: #FFF !important;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 12px !important;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #424242 !important;
    background-color: #fff;
}
.active{
	background-color: #35a0da;
}
.active:hover{
	background-color: #fff;
}
.nav-link img {
    width: 20px;
    margin-left: 10px;
}

.search_box button {
    background: transparent;
    border: none;
    color: #fff;
    padding: 14px 18px;
}
.search_box button:hover {
    background: #fff;
    border: none;
    color: #000;
}
#myInput {
    font-size: 16px;
    padding: 14px 20px 20px 20px;
    border: none;
    border-bottom: 1px solid #ddd;
}
#myInput:focus {outline: 3px solid #ddd;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    right: 2%;
    top: 54px;
}
.show {display: block;}

/*--=============== header-css-end ================--*/
.home_contant {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 10%);
    padding: 0 30px;
}
.home_contant p {
    color: #444;
    font-weight: 400;
}

.home_contant h1 {
    font-size: 30px;
    color: #333;
    font-weight: 600;
}
.home_contant h2 {
    color: #0288d1;
    font-size: 16px;
    font-weight: 600;
    padding-top: 16px;
}
.table_section ul {
    list-style: none;
    padding-left: 16px;
}
.h3-link a {
    text-decoration: none;
    color: #0288d1;
    font-weight: 400;
}
.table_section ul li {
    display: inline-block;
    width: 33%;
    padding: 6px 0;
}
.table_section ul li a {
    text-decoration: none;
    color: #0288d1;
    font-size: 15px;
    font-weight: 400;
}
.table_section ul li span {
    color: #ccc;
}
form {
    border: 1px solid #ccc;
    margin-top: 20px;
}
input[type="text"] {
    border: none;
}
button {
    border: none;
    background: transparent;
    float: right;
}
.home_contant h3 {
    font-size: 20px;
    font-weight: 600;
}


/*--=============== sidebar-css ================--*/
.sidebar h3 {
    font-size: 16px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 6px 0;
    border-bottom: 1px solid #ededed;
}
.sidebar ul li a {
    text-decoration: none;
    color: #0288d1;
    font-size: 15px;
    font-weight: 400;
}
form img {
    border: 1px solid #000;
    padding: 2px 3px;
    margin: 2px 8px;
}
form span {
    position: absolute;
}
form span a {
    color: #365899 !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
form span a:hover {
    text-decoration: underline;
}
.sidebar_form {
    background-color: #f5f6f7;
    border-top: 1px solid #ebedf0;
    padding: 8px 8px;
}
.sidebar_form a {
    border-color: #ccd0d5 !important;
    border: 1px solid;
    padding: 3px 6px;
    color: #3a5897!important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.sidebar_form a:hover {
    background-color: #ebedf0;
}
.sidebar_form a i {
    padding-right: 4px;
}
.Share_btn {
    float: right;
}

/*--=============== .footer .container a {
    padding-left: 30px;
}er-css ================--*/
.footer {
    background-color: #6d6d6d;
    text-align: center;
    color: #fff;
    padding: 32px 0 12px 0;
}
.footer p a {
    color: #fff;
    text-decoration: none;
}
.footer p a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer .container a {
    padding-left: 30px;
}

/*--=============== applet-page-css-start ================--*/
.Applet_page ul li {
    display: block;
    width: auto;
    padding: 6px 0;
}
.Applet_page ul li span {
    padding-right: 6px;
}
.home_contant h4 {
    font-size: 16px;
    color: #444;
}
.email_section {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.email_section input {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px 6px;
}
.email_section a {
    text-decoration: none;
    background-color: #0288d1;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 16px;
    font-size: 13px;
    border-radius: 4px;
}
.email_section a:hover {
    background-color: #027abc;
    color: #fff;
}

.applet_form {
    background-color: #4444440f;
    padding: 48px 40px 24px 40px;
    border: 1px solid #ccc;
}
.applet_form textarea {
    width: 100%;
    border: 1px solid #ccc;
}
.applet_form li {
    display: inline-block;
    width: 34%;
}
.applet_form input {
    border: 1px solid #ccc !important;
    background: #fff;
    width: 92%;
    padding: 6px 0;
}
.applet_form ul {
    padding: 24px 0 10px 0px;
}
.cepcha {
    border: 1px solid #d3d3d3;
    background-color: #f9f9f9;
    padding: 4px 20px;
    width: 38%;
}
.cepcha input {
    width: 24px;
    margin-right: 10px;
    height: 24px;
    position: relative;
    top: 6px;
}
.cepcha img {
    padding-left: 56px;
}
.form_btn {
    background-color: #0288d1;
    padding: 8px 40px;
    float: revert;
    border-radius: 2px;
    /*margin-top: 26px;*/
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
}
.form_btn:hover {
    background-color: #027abc;
}
.applet_form button a {
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
}
.comment_section ul li {
    display: inline-block;
    vertical-align: top;
}
.comment_section img {
    border-radius: 50px;
}
.comment_section h3 {
    margin: 0;
}
.comment_section ul {
    padding: 0;
    margin: 32px 0 0 0;
}
.comment_section p a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.comment_section h5 a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
.comment_section h5 a:hover {
    text-decoration: underline;
}
.comment_img {
    width: 9%;
}
.comment_desc {
    width: 90%;
}
.comment_reply {
    padding-left: 92px !important;
}



/*============== applet-life-cycle-example-page-css-start ===============*/
.quickly_section {
    text-align: center;
    border: 1px solid #ccc;
    padding: 30px 0;
}
.quickly_section a {
    text-decoration: none;
    background-color: #fd013d;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 8px 28px;
    border-radius: 5px;
}
.quickly_section a:hover {
    opacity: 0.9;
    color: #fff;
} 
.social_icon ul {
    padding: 40px 0;
} 
.social_icon li {
    display: inline-block;
    padding: 10px 12px 10px 12px;
}
.social_icon li:hover {
    padding: 9px 12px 6px 12px;
    /* transition-duration: 0.46s; */
}
.social_icon li i {
    padding-right: 4px;
}
.social_icon a {
    text-decoration: none;
    color: #fff !important;
}
.fb {
    background-color: #3b5998;
}
.tw {
    background-color: #1da1f2;
}
.pp {
    background-color: #cb2027;
}
.mes {
    background-color: #848484;
}
.wha {
    background-color: #4dc247;
}
.articles p a {
    color: #0288d1;
    text-decoration: none;
    font-size: 12px;
}
.articles p a:hover {
    border-bottom: 2px solid #0288d1;
}
.articles p {
    margin: 0;
}
.articles a {
    color: #0288d1 !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.articles h6 {
    color: #999;
    font-size: 13px;
}
.articles ul li {
    display: inline-block;
    width: 49%;
    padding: 10px 0;
    vertical-align: top;
}
.articles ul {
    padding: 0;
}
.applet_cycle_page a {
    color: #0288d1;
    text-decoration: none;
}
.applet_cycle_page a:hover {
    border-bottom: 2px solid #0288d1;
}
.applet_cycle_page ul {
    padding: 0
}
.applet_cycle_page ul li {
    /*display: inline-block;*/
    /*color: #999;*/
    /*padding-right: 10px;*/
    font-size: 14px;
}
.applet_cycle_page ul li a {
    color: #999;
}
.applet_cycle_page ul li a:hover {
    border-bottom: 2px solid #999;
}


/*============== terms-of-use-page-css-start ===============*/
.terms_page ul {
    list-style: none;
}
.terms_page p {
    width: 72%;
    font-size: 16px;
}
.terms_page ul li {
    display: flex;
}
.terms_page ul li span {
    padding-left: 6px;
}
.terms_page ul {
    list-style: none;
    padding: 0;
}
.specing {
    padding-left: 20px !important;
    width: 100% !important;
}
.terms_page ul {
    list-style: none;
    padding: 0;
    width: 72%;
}

/*============== jvm-array-tutorial-with-examples-page-css-start ===============*/
.jvm_array ul li {
    width: 100%;
    display: list-item;
}
.jvm_array ul li a {
    text-decoration: underline;
}
.jvm_array ul {
    list-style: disc;
}
.author_section img {
    width: 115px;
    border-radius: 100px;
    border: 1px solid #ddd;
    padding: 4px 4px;
}
.author_section {
    border: 1px solid #eee;
    padding: 30px 0 14px 0;
    border-radius: 4px;
}
.author_section li {
    display: inline-block;
    vertical-align: top;
}
.author_img {
    width: 16%;
}
.author_contant {
    width: 82%;
}
.video_section ul {
    padding: 0;
}
.video_section ul li {
    display: inline-block;
    width: 32%;
    position: relative;
    margin: 4px 2px;
}
.video_section ul li a img {
    width: 100%;
}
.video_section ul li a span {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 14px;
    padding: 12px 16px;
    background: #0000009c;
    width: 100%;
    height: -webkit-fill-available;
}
.video_section ul li a:hover span {
    display: unset;
}
.sub_btn a {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 4px;
}
.sub_btn a:hover {
    opacity: 0.8;
    color: #fff;
}
.sub_btn {
    text-align: center;
}
.video_section {
    border-bottom: 2px solid #272626;
    padding-bottom: 32px;
}
.jvm_examples ul li a img {
    width: 144px;
    background-color: #00000005;
    border-radius: 5px;
}
.jvm_examples ul li a {
    text-decoration: none;
    color: #0288d1;
    font-size: 15px;
    font-weight: 400;
}
.jvm_examples ul li a span {
    position: absolute;
    padding: 0 0 0 26px;
}
.jvm_examples ul li {
    display: inline-block;
    width: 49%;
    padding-bottom: 26px;
}
.jvm_examples ul {
    padding: 0;
}
.contact_page p a {
    text-decoration: none;
    color: #0288d1;
    font-size: 15px;
    font-weight: 400;
}





/*============== Responshive-css-start ===============*/
@media screen and (min-width: 992px) and (max-width: 1286px) {
.navbar-expand-lg .navbar-collapse {
    padding-left: 0%;
}
.nav-link {
    font-size: 12px;
    padding: 16px 10px !important;
}
form span a {
    font-size: 14px !important;
}



}

@media only screen and (max-width: 991px) {
#mySidenav {
    position: absolute;
    left: 1px;
    top: 12px;
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/mo-menu.png) !important;
}
.search_box {
    position: absolute;
    top: 0;
    right: 0;
}
.navbar {
    padding: 16px 0 !important;
}
.navbar-expand-lg .navbar-collapse {
    padding-left: 0%;
}

.navbar-collapse {
    position: absolute !important;
    left: 0;
    top: 60px;
    background-color: #0288d1;
    width: 45% !important;
}
.navbar_logo {
    text-align: center;
    margin: 0 auto;
}
.search_box button {
    padding: 18px 18px;
}
.dropdown-content {
    top: 62px;
}

}

@media only screen and (max-width: 767px) {
.table_section ul li {
    width: 100%;
}
.container {
    max-width: 375px !important;
}
.Applet_page ul li {
    display: flex;
}
.email_section input {
    width: 95%;
    margin-bottom: 14px;
}
.applet_form li {
    width: 100%;
}
.applet_form input {
    width: 100%;
}
.cepcha {
    width: 100%;
}
.cepcha input {
    width: 24px !important;
}
.cepcha img {
    width: 34%;
    padding: 0;
}
.applet_form {
    padding: 48px 20px 24px 20px;
}
.comment_reply {
    padding-left: 22px !important;
}
.quickly_section a {
    font-size: 12px;
}
.social_icon li span {
    display: none;
}
.social_icon li i {
    padding-right: 4px;
    padding-left: 4px;
}
.articles ul li {
    width: 100%;
    padding: 6px 0;
}
.social_icon li {
    padding: 10px 10px 10px 10px;
}
.terms_page p {
    width: 100%;
    font-size: 16px;
}
.terms_page ul {
    width: 100%;
}
.author_img {
    width: 100%;
}
.author_contant {
    width: 98%;
}
.video_section ul li {
    width: 100%;
}
.jvm_examples ul li {
    width: 100%;
}
.jvm_examples ul li a img {
    width: 92px;
}
.jvm_examples ul li a span {
    padding: 0 0 0 8px;
}
.form_btn {
    padding: 8px 34px;
}


}
