<!doctype html>
<html lang="en"> 
 <head> 
  <title>jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page</title> <!--timestamp=2026-01-23T00:22:04.255081497Z--> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  <script src="/js/bootstrap.bundle.min.js"></script> 
  <script src="/js/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="/js/prism.js"></script> 
  <link rel="stylesheet" type="text/css" href="/css/prism.css"> 
  <meta name="description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="keywords" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="robots" content="index, follow"> <!-- facebook --> 
  <meta property="og:url" content="https://jvmexamples.com"> 
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta property="og:description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta property="og:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- twitter --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="jvmExamples.com"> 
  <meta name="twitter:title" content="jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="twitter:description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="twitter:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- Google analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKTBKHX64B"></script> 
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EKTBKHX64B');
    </script> <!-- Google ad sense --> 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1473157258033791" crossorigin="anonymous">
    </script> 
  <style>
        @font-face { font-family: "Roboto";src: url('/font/Roboto.ttf')}
        @font-face { font-family: "Roboto";
            src: url('/font/Roboto-Regular.ttf')
        }
    </style> 
 </head> 
 <body> 
  <header> 
   <div class="top_header"> 
    <nav class="navbar navbar-expand-lg navbar-light "> 
     <div class="container"> <a href="/" class="navbar_logo"><img src="/img/jvm-examples-com-logo.png" alt="logo" width="170" height="26"></a> <button id="mySidenav" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button> 
      <div class="collapse navbar-collapse" id="navbarCollapse"> 
       <div class="navbar-nav"> <a href="/articles/Java/Java-Language-Fundamentals/" class="nav-item nav-link active">Fundamentals</a> <a href="/articles/Java/Collections-And-Data-Structures/" class="nav-item nav-link active">Collections</a> <a href="/articles/Java/Popular-Java-Classes/" class="nav-item nav-link active">Popular</a> <a href="/articles/Java/File-And-IO/" class="nav-item nav-link active">IO</a> <a href="/articles/Java/Java-Zip/" class="nav-item nav-link active">Compression</a> <a href="/articles/Java/Swing/" class="nav-item nav-link active">Swing</a> <a href="/articles/Java/Wrapper-Classes/" class="nav-item nav-link active">Wrappers</a> <a href="/articles/Java/Applets-And-AWT/" class="nav-item nav-link active">AWT</a> <a href="/articles/Java/Miscellaneous-Classes/" class="nav-item nav-link active">Misc</a> <a href="/articles/Java/Popular-classes/" class="nav-item nav-link active">Classes</a> 
       </div> 
      </div> 
      <div class="search_box"> <button onclick="myFunction()" class="dropbtn"><i class="fa fa-search"></i></button> 
       <div id="myDropdown" class="dropdown-content"> 
        <input type="text" placeholder="Type here to search..." id="myInput" onkeyup="filterFunction()"> 
       </div> 
      </div> 
     </div> 
    </nav> 
   </div> 
  </header> 
  <div id="home_page"> 
   <div class="container"> 
    <div class="home_contant"> 
     <div class="row"> 
      <div class="col-sm-12 col-lg-9 mt-5"> 
       <div class="applet_cycle_page"> 
        <div>
         <small>2022-01-13</small>
        </div> 
        <h1>Introduction to Java com.baomidou.mybatisplus.extension.plugins.pagination.Page</h1> Java com.baomidou.mybatisplus.extension.plugins.pagination.Page is a powerful class designed to help developers organize and manage data efficiently with pagination. This library provides an easy-to-use API that makes it easy to create and customize page views to better display data in an organized manner. The following sections cover the basics of using this class, as well as some tips and tricks on how to best take advantage of its features. 
        <h2>Creating a Page Instance</h2> The first step in using com.baomidou.mybatisplus.extension.plugins.pagination.Page class is to create a page instance. This can be done by calling the constructors provided as follows: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
Page page = new Page();
Page page = new Page(int size);
Page page = new Page(int size, boolean count);
Page page = new Page(int current, int size);
Page page = new Page(int current, int size, boolean count);
Page page = new Page("param");

          </xmp></code></pre> Each of these constructors has different parameters depending on the type of initialization you want for the particular page instance you are creating. The details of these parameters can be found in the official documentation. 
        <h2>Using the Page Class</h2> Once you have created a page instance, you can customize it using a set of methods that are provided. The most important ones are as follows: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
page.setSize(int size);
page.setCurrent(int current);
page.setCount(boolean count);
page.setParams("param");

          </xmp></code></pre> The setSize() method sets the number of items that will be displayed on each page. The setCurrent() method sets the current page number. The setCount() method sets whether or not the page should be counted when calculating the total number of items. Finally, the setParams() method sets the parameter string that will be used in requests. 
        <h2>Writing Custom Code</h2> In addition to the provided methods, you can also write your own code to customize the way your pages look and function. For example, if you want to add a search bar to your page view, you can use the following code snippet: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
<form action="">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

          </xmp></code></pre> This code will create a form with an input field and a submit button. When a user enters a query and clicks on the submit button, you can process the query using PHP code and dynamically update the page view accordingly. 
        <h2>Conclusion</h2> As you can see, the com.baomidou.mybatisplus.extension.plugins.pagination.Page class offers a powerful way to organize and manage data efficiently with pagination. With its intuitive API and easy-to-use methods, it is easy to create and customize page views to better display data in an organized manner. Furthermore, you can also write custom code to further customize the look and feel of your page views. 
       </div> 
       <br> 
       <br> 
       <br> <!-- You may like --> 
       <h4>YOU MAY ALSO LIKE</h4> 
       <hr> 
       <div class="articles"> 
        <ul> 
         <li> <p> <a href="/articles/Java/Java-Language-Fundamentals/Threads/"> Threads </a> </p> <a href="/articles/Java/Java-Language-Fundamentals/Threads/Create-New-Thread-Using-Runnable-Example.html">Create New Thread Using Runnable Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-12-27 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/"> Iterator </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/Iterate-through-ArrayList-using-ListIterator.html">Iterate through ArrayList using ListIterator</a> <h6><i class="fa fa-clock-o"></i> <span>2022-08-27 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-1/"> Popular classes 1 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-1/android.webkit.WebView.html">android.webkit.WebView</a> <h6><i class="fa fa-clock-o"></i> <span>2024-04-29 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-10/"> Popular classes 10 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-10/org.apache.hadoop.hbase.Cell.html">org.apache.hadoop.hbase.Cell</a> <h6><i class="fa fa-clock-o"></i> <span>2023-10-30 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Applets-And-AWT/Applet/"> Applet </a> </p> <a href="/articles/Java/Applets-And-AWT/Applet/Set-Foreground-Color-Of-an-Applet-Window-Example.html">Set Foreground Color Of an Applet Window Example</a> <h6><i class="fa fa-clock-o"></i> <span>2022-10-28 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/Collections/"> Collections </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Find-maxmimum-element-of-Java-Vector-Example.html">Find maxmimum element of Java Vector Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-09-03 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-5/"> Popular classes 5 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-5/org.springframework.cloud.openfeign.FeignClient.html">o.s.c.o.FeignClient</a> <h6><i class="fa fa-clock-o"></i> <span>2022-11-26 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Java-Language-Fundamentals/Data-types/"> Data types </a> </p> <a href="/articles/Java/Java-Language-Fundamentals/Data-types/Java-long-Example.html">Java long Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-09-02 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Applets-And-AWT/AWT-list/"> AWT list </a> </p> <a href="/articles/Java/Applets-And-AWT/AWT-list/Disable-AWT-List-Example.html">Disable AWT List Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-06-18 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/"> LinkedHashMap </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/Check-if-a-particular-key-exists-in-Java-LinkedHashMap-example.html">Check if a particular key exists in Java LinkedHashMap example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-12-24 </span> </h6> </li> 
        </ul> 
       </div> <!-- Email --> 
       <section> 
        <div class="email_section"> 
         <h4>Receive LATEST Jvm Examples In Your Email</h4> 
         <p>Enter your email address below to join 1000+ fellow learners:</p> 
         <input type="email" name="email" placeholder="email address"> <a href="/index.html">subscribe</a> 
        </div> 
       </section> <!-- Display comments --> 
       <div class="comment_section"> 
        <ul> 
         <li class="comment_img"><img src="/img/093.jpg"></li> 
         <li class="comment_desc"> <h3>Vartel</h3> <p><a href="#">2022-03-08 01:58</a></p> great examples ... thnx <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
        <ul class="comment_reply"> 
         <li class="comment_img"> <img src="/img/093.jpg"> </li> 
         <li class="comment_desc"> <h3>Robert</h3> <p><a href="#">2022-02-14 20:46</a></p> Can somebody elaborate more? <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
       </div> 
       <section> <!-- Add comment --> 
        <h4>ADD COMMENT</h4> 
        <hr> 
        <div class="applet_form"> <label>Comments<span class="required"></span></label> <textarea id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea> 
         <br> 
         <ul> 
          <li> <label>Name<span class="required"> *</span></label><br> <input type="text" name="name"> </li> 
          <li> <label>Email<span class="required"> *</span></label> <br> <input type="email" name="email"> </li> 
         </ul> 
         <div class="cepcha"> 
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><span>I'm not a robot</span> <a href="#"><img src="/img/cepcha-logo.jpg"></a> 
         </div> 
         <br> <a class="form_btn" href="/index.html">Post comment</a> 
        </div> 
        <br> 
       </section> 
      </div> 
      <div class="col-sm-12 col-lg-3 mt-5"> 
       <div class="sidebar"> 
        <h3 class="mt-5">SEARCH EXAMPLE</h3> 
        <form>
         <input name="s" type="text" value="" placeholder="Type here to search..."> <button type="submit"><i class="fa fa-search"></i></button> 
        </form> 
        <h3 class="mt-4">POPULAR EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Swing/JLabel/Get-or-Set-Gap-Between-JLabel’s-Icon-and-Text-Example.html">Get or Set Gap Between JLabel’s Icon and Text Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/How-to-get-random-elements-from-Java-HashSet.html">How to get random elements from Java HashSet</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-3/org.aspectj.lang.JoinPoint.html">org.aspectj.lang.JoinPoint</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/Applet/Get-Background-Color-Of-an-Applet-Window-Example.html">Get Background Color Of an Applet Window Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-9/javafx.scene.shape.Circle.html">javafx.scene.shape.Circle</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Convert-HashSet-to-TreeSet-in-Java.html">Convert HashSet to TreeSet in Java</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-4/android.support.annotation.IntRange.html">android.support.annotation.IntRange</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Remove-an-element-from-specified-index-of-Java-ArrayList-Example.html">Remove an element from specified index of Java ArrayList Example</a> </li> 
         <li> <a href="/articles/Java/Java-Language-Fundamentals/For-Loop/Infinite-For-loop-Example.html">Infinite For loop Example</a> </li> 
         <li> <a href="/articles/Java/File-And-IO/DataInputStream/Read-short-from-file-using-DataInputStream.html">Read short from file using DataInputStream</a> </li> 
        </ul> 
        <h3 class="mt-5">FACEBOOK FANS</h3> 
        <div id="fb-root"></div> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v15.0&appId=101341636586609&autoLogAppEvents=1" nonce="2hjA2MLA"></script> 
        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100089200964004" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"> 
         <blockquote cite="https://www.facebook.com/profile.php?id=100089200964004" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/profile.php?id=100089200964004">Jvmexamples.com</a> 
         </blockquote> 
        </div> 
        <h3 class="mt-5">RECENTLY COMMENTED EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-10/com.intellij.openapi.fileTypes.LanguageFileType.html">c.i.o.f.LanguageFileType</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/Iterate-through-ArrayList-using-ListIterator.html">Iterate through ArrayList using ListIterator</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-8/com.google.auth.oauth2.GoogleCredentials.html">c.g.a.o.GoogleCredentials</a> </li> 
         <li> <a href="/articles/Java/Popular-Java-Classes/String/How-to-convert-String-to-title-case.html">How to convert String to title case</a> </li> 
         <li> <a href="/articles/Java/Wrapper-Classes/Boolean-Wrapper-Class/Java-Boolean-Example.html">Java Boolean Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Comparator/Sort-HashMap-by-values-using-Comparator.html">Sort HashMap by values using Comparator</a> </li> 
         <li> <a href="/articles/Java/Java-Language-Fundamentals/For-Loop/Java-Pyramid-3-Example.html">Java Pyramid 3 Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Shuffle-elements-of-Java-ArrayList-example.html">Shuffle elements of Java ArrayList example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Convert-String-to-String-array-using-Arrays.html">Convert String to String array using Arrays</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Iterate-through-elements-Java-ArrayList-using-ListIterator-Example.html">Iterate through elements Java ArrayList using ListIterator Example</a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <footer class="footer"> 
   <div class="container"> 
    <p> <a href="/">Copyright © 2022. Jvm Examples</a> <a href="/privacy-policy.html">Privacy Policy</a> <a href="/terms-of-use.html">Terms of use</a> <a href="/sitemap.html">Sitemap</a> <a href="/contact.html">Contact</a> </p> 
   </div> 
  </footer>  
 
</body></html>