<!doctype html>
<html lang="en"> 
 <head> 
  <title>jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page</title> <!--timestamp=2026-03-20T00:26:32.862920711Z--> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  <script src="/js/bootstrap.bundle.min.js"></script> 
  <script src="/js/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="/js/prism.js"></script> 
  <link rel="stylesheet" type="text/css" href="/css/prism.css"> 
  <meta name="description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="keywords" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="robots" content="index, follow"> <!-- facebook --> 
  <meta property="og:url" content="https://jvmexamples.com"> 
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta property="og:description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta property="og:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- twitter --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="jvmExamples.com"> 
  <meta name="twitter:title" content="jvmExamples.com - com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="twitter:description" content="com.baomidou.mybatisplus.extension.plugins.pagination.Page"> 
  <meta name="twitter:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- Google analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKTBKHX64B"></script> 
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EKTBKHX64B');
    </script> <!-- Google ad sense --> 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1473157258033791" crossorigin="anonymous">
    </script> 
  <style>
        @font-face { font-family: "Roboto";src: url('/font/Roboto.ttf')}
        @font-face { font-family: "Roboto";
            src: url('/font/Roboto-Regular.ttf')
        }
    </style> 
 </head> 
 <body> 
  <header> 
   <div class="top_header"> 
    <nav class="navbar navbar-expand-lg navbar-light "> 
     <div class="container"> <a href="/" class="navbar_logo"><img src="/img/jvm-examples-com-logo.png" alt="logo" width="170" height="26"></a> <button id="mySidenav" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button> 
      <div class="collapse navbar-collapse" id="navbarCollapse"> 
       <div class="navbar-nav"> <a href="/articles/Java/Java-Language-Fundamentals/" class="nav-item nav-link active">Fundamentals</a> <a href="/articles/Java/Collections-And-Data-Structures/" class="nav-item nav-link active">Collections</a> <a href="/articles/Java/Popular-Java-Classes/" class="nav-item nav-link active">Popular</a> <a href="/articles/Java/File-And-IO/" class="nav-item nav-link active">IO</a> <a href="/articles/Java/Java-Zip/" class="nav-item nav-link active">Compression</a> <a href="/articles/Java/Swing/" class="nav-item nav-link active">Swing</a> <a href="/articles/Java/Wrapper-Classes/" class="nav-item nav-link active">Wrappers</a> <a href="/articles/Java/Applets-And-AWT/" class="nav-item nav-link active">AWT</a> <a href="/articles/Java/Miscellaneous-Classes/" class="nav-item nav-link active">Misc</a> <a href="/articles/Java/Popular-classes/" class="nav-item nav-link active">Classes</a> 
       </div> 
      </div> 
      <div class="search_box"> <button onclick="myFunction()" class="dropbtn"><i class="fa fa-search"></i></button> 
       <div id="myDropdown" class="dropdown-content"> 
        <input type="text" placeholder="Type here to search..." id="myInput" onkeyup="filterFunction()"> 
       </div> 
      </div> 
     </div> 
    </nav> 
   </div> 
  </header> 
  <div id="home_page"> 
   <div class="container"> 
    <div class="home_contant"> 
     <div class="row"> 
      <div class="col-sm-12 col-lg-9 mt-5"> 
       <div class="applet_cycle_page"> 
        <div>
         <small>2022-01-13</small>
        </div> 
        <h1>Introduction to Java com.baomidou.mybatisplus.extension.plugins.pagination.Page</h1> Java com.baomidou.mybatisplus.extension.plugins.pagination.Page is a powerful class designed to help developers organize and manage data efficiently with pagination. This library provides an easy-to-use API that makes it easy to create and customize page views to better display data in an organized manner. The following sections cover the basics of using this class, as well as some tips and tricks on how to best take advantage of its features. 
        <h2>Creating a Page Instance</h2> The first step in using com.baomidou.mybatisplus.extension.plugins.pagination.Page class is to create a page instance. This can be done by calling the constructors provided as follows: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
Page page = new Page();
Page page = new Page(int size);
Page page = new Page(int size, boolean count);
Page page = new Page(int current, int size);
Page page = new Page(int current, int size, boolean count);
Page page = new Page("param");

          </xmp></code></pre> Each of these constructors has different parameters depending on the type of initialization you want for the particular page instance you are creating. The details of these parameters can be found in the official documentation. 
        <h2>Using the Page Class</h2> Once you have created a page instance, you can customize it using a set of methods that are provided. The most important ones are as follows: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
page.setSize(int size);
page.setCurrent(int current);
page.setCount(boolean count);
page.setParams("param");

          </xmp></code></pre> The setSize() method sets the number of items that will be displayed on each page. The setCurrent() method sets the current page number. The setCount() method sets whether or not the page should be counted when calculating the total number of items. Finally, the setParams() method sets the parameter string that will be used in requests. 
        <h2>Writing Custom Code</h2> In addition to the provided methods, you can also write your own code to customize the way your pages look and function. For example, if you want to add a search bar to your page view, you can use the following code snippet: 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
<form action="">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

          </xmp></code></pre> This code will create a form with an input field and a submit button. When a user enters a query and clicks on the submit button, you can process the query using PHP code and dynamically update the page view accordingly. 
        <h2>Conclusion</h2> As you can see, the com.baomidou.mybatisplus.extension.plugins.pagination.Page class offers a powerful way to organize and manage data efficiently with pagination. With its intuitive API and easy-to-use methods, it is easy to create and customize page views to better display data in an organized manner. Furthermore, you can also write custom code to further customize the look and feel of your page views. 
       </div> 
       <br> 
       <br> 
       <br> <!-- You may like --> 
       <h4>YOU MAY ALSO LIKE</h4> 
       <hr> 
       <div class="articles"> 
        <ul> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-6/"> Popular classes 6 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-6/org.eclipse.core.runtime.Path.html">org.eclipse.core.runtime.Path</a> <h6><i class="fa fa-clock-o"></i> <span>2022-09-12 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/"> HashSet </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/How-to-get-random-elements-from-Java-HashSet.html">How to get random elements from Java HashSet</a> <h6><i class="fa fa-clock-o"></i> <span>2023-01-30 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/"> LinkedHashMap </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/How-to-get-all-keys-of-LinkedHashMap-in-Java.html">How to get all keys of LinkedHashMap in Java</a> <h6><i class="fa fa-clock-o"></i> <span>2022-09-27 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/"> Iterator </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/Iterate-through-elements-of-HashSet-in-Java-using-an-iterator.html">Iterate through elements of HashSet in Java using an iterator</a> <h6><i class="fa fa-clock-o"></i> <span>2022-02-14 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-3/"> Popular classes 3 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-3/io.swagger.annotations.ApiModelProperty.html">i.s.a.ApiModelProperty</a> <h6><i class="fa fa-clock-o"></i> <span>2024-11-30 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Applets-And-AWT/AWT-Color/"> AWT Color </a> </p> <a href="/articles/Java/Applets-And-AWT/AWT-Color/Set-Drawing-Mode-To-XOR-Example.html">Set Drawing Mode To XOR Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-08-28 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/List/"> List </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/List/Iterate-List-example.html">Iterate List example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-12-12 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Java-Language-Fundamentals/Data-types/"> Data types </a> </p> <a href="/articles/Java/Java-Language-Fundamentals/Data-types/Java-int-Example.html">Java int Example</a> <h6><i class="fa fa-clock-o"></i> <span>2022-12-29 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-5/"> Popular classes 5 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-5/org.springframework.core.type.AnnotationMetadata.html">o.s.c.t.AnnotationMetadata</a> <h6><i class="fa fa-clock-o"></i> <span>2022-03-02 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/"> TreeSet </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/Copy-all-elements-of-Java-TreeSet-to-an-Object-Array-Example.html">Copy all elements of Java TreeSet to an Object Array Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-03-07 </span> </h6> </li> 
        </ul> 
       </div> <!-- Email --> 
       <section> 
        <div class="email_section"> 
         <h4>Receive LATEST Jvm Examples In Your Email</h4> 
         <p>Enter your email address below to join 1000+ fellow learners:</p> 
         <input type="email" name="email" placeholder="email address"> <a href="/index.html">subscribe</a> 
        </div> 
       </section> <!-- Display comments --> 
       <div class="comment_section"> 
        <ul> 
         <li class="comment_img"><img src="/img/093.jpg"></li> 
         <li class="comment_desc"> <h3>Nahish</h3> <p><a href="#">2022-03-02 04:26</a></p> Grt ;-) <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
        <ul class="comment_reply"> 
         <li class="comment_img"> <img src="/img/093.jpg"> </li> 
         <li class="comment_desc"> <h3>Adam</h3> <p><a href="#">2022-03-05 03:21</a></p> great examples ... thnx <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
       </div> 
       <section> <!-- Add comment --> 
        <h4>ADD COMMENT</h4> 
        <hr> 
        <div class="applet_form"> <label>Comments<span class="required"></span></label> <textarea id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea> 
         <br> 
         <ul> 
          <li> <label>Name<span class="required"> *</span></label><br> <input type="text" name="name"> </li> 
          <li> <label>Email<span class="required"> *</span></label> <br> <input type="email" name="email"> </li> 
         </ul> 
         <div class="cepcha"> 
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><span>I'm not a robot</span> <a href="#"><img src="/img/cepcha-logo.jpg"></a> 
         </div> 
         <br> <a class="form_btn" href="/index.html">Post comment</a> 
        </div> 
        <br> 
       </section> 
      </div> 
      <div class="col-sm-12 col-lg-3 mt-5"> 
       <div class="sidebar"> 
        <h3 class="mt-5">SEARCH EXAMPLE</h3> 
        <form>
         <input name="s" type="text" value="" placeholder="Type here to search..."> <button type="submit"><i class="fa fa-search"></i></button> 
        </form> 
        <h3 class="mt-4">POPULAR EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/File-And-IO/ByteArrayInputStream/Read-byte-array-using-ByteArrayInputStream-Example.html">Read byte array using ByteArrayInputStream Example</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/Applet/Draw-Dots-at-Random-Locations-in-an-Applet-Example.html">Draw Dots at Random Locations in an Applet Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Convert-ArrayList<String>-to-String[]-array.html">Convert ArrayList<String> to String[] array</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashSet/Remove-all-elements-from-Java-LinkedHashSet-example.html">Remove all elements from Java LinkedHashSet example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Vector/How-to-get-the-size-of-the-Vector-(Vector-length).html">How to get the size of the Vector (Vector length)</a> </li> 
         <li> <a href="/articles/Java/Wrapper-Classes/Float-Wrapper-Class/Java-Float-Compare-Example.html">Java Float Compare Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-7/org.springframework.context.ResourceLoaderAware.html">o.s.c.ResourceLoaderAware</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-8/org.springframework.beans.factory.BeanNameAware.html">o.s.b.f.BeanNameAware</a> </li> 
         <li> <a href="/articles/Java/Java-Language-Fundamentals/Sorting-Algorithms/Java-Bubble-Sort-Example.html">Java Bubble Sort Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-1/android.util.Log.html">android.util.Log</a> </li> 
        </ul> 
        <h3 class="mt-5">FACEBOOK FANS</h3> 
        <div id="fb-root"></div> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v15.0&appId=101341636586609&autoLogAppEvents=1" nonce="2hjA2MLA"></script> 
        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100089200964004" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"> 
         <blockquote cite="https://www.facebook.com/profile.php?id=100089200964004" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/profile.php?id=100089200964004">Jvmexamples.com</a> 
         </blockquote> 
        </div> 
        <h3 class="mt-5">RECENTLY COMMENTED EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Java-Language-Fundamentals/Static/Java-static-member-variable-example.html">Java static member variable example</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/AWT-font/Get-Available-Font-Objects-Example.html">Get Available Font Objects Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-6/org.lwjgl.opengl.GL11.html">org.lwjgl.opengl.GL11</a> </li> 
         <li> <a href="/articles/Java/Miscellaneous-Classes/Runtime/Get-Available-Processors-using-Java-Runtime-Example.html">Get Available Processors using Java Runtime Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-5/com.google.common.collect.Multimaps.html">com.google.common.collect.Multimaps</a> </li> 
         <li> <a href="/articles/Java/Wrapper-Classes/Math-Class/Find-exponential-value-of-a-number-using-Math.exp.html">F.exp</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/How-to-get-floor-or-ceiling-values-from-Java-TreeSet.html">How to get floor or ceiling values from Java TreeSet</a> </li> 
         <li> <a href="/articles/Java/Swing/JLabel/Align-Icon-in-JLabel-Example.html">Align Icon in JLabel Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Comparator/Sort-String-array-using-Comparator.html">Sort String array using Comparator</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-6/org.apache.commons.io.output.ByteArrayOutputStream.html">o.a.c.i.o.ByteArrayOutputStream</a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <footer class="footer"> 
   <div class="container"> 
    <p> <a href="/">Copyright © 2022. Jvm Examples</a> <a href="/privacy-policy.html">Privacy Policy</a> <a href="/terms-of-use.html">Terms of use</a> <a href="/sitemap.html">Sitemap</a> <a href="/contact.html">Contact</a> </p> 
   </div> 
  </footer>  
 
</body></html>