<!doctype html>
<html lang="en"> 
 <head> 
  <title>jvmExamples.com - org.springframework.stereotype.Component</title> <!--timestamp=2026-05-08T00:39:06.958546416Z--> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  <script src="/js/bootstrap.bundle.min.js"></script> 
  <script src="/js/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="/js/prism.js"></script> 
  <link rel="stylesheet" type="text/css" href="/css/prism.css"> 
  <meta name="description" content="org.springframework.stereotype.Component"> 
  <meta name="keywords" content="org.springframework.stereotype.Component"> 
  <meta name="robots" content="index, follow"> <!-- facebook --> 
  <meta property="og:url" content="https://jvmexamples.com"> 
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="jvmExamples.com - org.springframework.stereotype.Component"> 
  <meta property="og:description" content="org.springframework.stereotype.Component"> 
  <meta property="og:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- twitter --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="jvmExamples.com"> 
  <meta name="twitter:title" content="jvmExamples.com - org.springframework.stereotype.Component"> 
  <meta name="twitter:description" content="org.springframework.stereotype.Component"> 
  <meta name="twitter:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- Google analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKTBKHX64B"></script> 
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EKTBKHX64B');
    </script> <!-- Google ad sense --> 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1473157258033791" crossorigin="anonymous">
    </script> 
  <style>
        @font-face { font-family: "Roboto";src: url('/font/Roboto.ttf')}
        @font-face { font-family: "Roboto";
            src: url('/font/Roboto-Regular.ttf')
        }
    </style> 
 </head> 
 <body> 
  <header> 
   <div class="top_header"> 
    <nav class="navbar navbar-expand-lg navbar-light "> 
     <div class="container"> <a href="/" class="navbar_logo"><img src="/img/jvm-examples-com-logo.png" alt="logo" width="170" height="26"></a> <button id="mySidenav" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button> 
      <div class="collapse navbar-collapse" id="navbarCollapse"> 
       <div class="navbar-nav"> <a href="/articles/Java/Java-Language-Fundamentals/" class="nav-item nav-link active">Fundamentals</a> <a href="/articles/Java/Collections-And-Data-Structures/" class="nav-item nav-link active">Collections</a> <a href="/articles/Java/Popular-Java-Classes/" class="nav-item nav-link active">Popular</a> <a href="/articles/Java/File-And-IO/" class="nav-item nav-link active">IO</a> <a href="/articles/Java/Java-Zip/" class="nav-item nav-link active">Compression</a> <a href="/articles/Java/Swing/" class="nav-item nav-link active">Swing</a> <a href="/articles/Java/Wrapper-Classes/" class="nav-item nav-link active">Wrappers</a> <a href="/articles/Java/Applets-And-AWT/" class="nav-item nav-link active">AWT</a> <a href="/articles/Java/Miscellaneous-Classes/" class="nav-item nav-link active">Misc</a> <a href="/articles/Java/Popular-classes/" class="nav-item nav-link active">Classes</a> 
       </div> 
      </div> 
      <div class="search_box"> <button onclick="myFunction()" class="dropbtn"><i class="fa fa-search"></i></button> 
       <div id="myDropdown" class="dropdown-content"> 
        <input type="text" placeholder="Type here to search..." id="myInput" onkeyup="filterFunction()"> 
       </div> 
      </div> 
     </div> 
    </nav> 
   </div> 
  </header> 
  <div id="home_page"> 
   <div class="container"> 
    <div class="home_contant"> 
     <div class="row"> 
      <div class="col-sm-12 col-lg-9 mt-5"> 
       <div class="applet_cycle_page"> 
        <div>
         <small>2022-02-08</small>
        </div> 
        <h1>Org.Springframework.Stereotype.Component</h1> 
        <p>Java is one of the most popular programming languages in the world and it is used in many different applications due to its versatility and ability to run across many platforms. One of the frameworks that is widely used in Java development is the Spring Framework. This framework provides a comprehensive infrastructure for developing enterprise-grade applications using Java.</p> 
        <p>Within the Spring Framework, the org.springframework.stereotype.Component annotation is commonly used in defining the scope and functionality of beans within the application context. Component is an annotation used to mark a Java class as a spring bean. The @Component annotation marks a java class as a bean so that it can be discovered by the Spring framework and included in the application context. Applying the @Component annotation to your classes will allow the Spring framework to automatically process them during startup.</p> 
        <h2>Code Examples</h2> 
        <p>Here is an example of Java code that uses the @Component annotation:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Component
public class MyBean {
    public void doSomething() {
        System.out.println("Doing something...");
    }
}

          </xmp></code></pre> 
        <p>In this example, the MyBean class is marked with the @Component annotation which tells the Spring framework to include it as a bean in the application context. This will allow the bean to be used in other parts of the application.</p> 
        <p>This is an example of how the @Component annotation can be used to create a dependency between two beans:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Component
public class ServiceA {
    private final ServiceB serviceB;

    public ServiceA(ServiceB serviceB) {
        this.serviceB = serviceB;
    }
}

@Component
public class ServiceB {
    private final Repository repository;

    public ServiceB(Repository repository) {
        this.repository = repository;
    }
}

          </xmp></code></pre> 
        <p>In this example, ServiceA and ServiceB are both marked with the @Component annotation. ServiceA has a constructor dependency on ServiceB, while ServiceB has a constructor dependency on Repository. This means that when the application context is created, the Spring framework will automatically create and inject the instances of ServiceA and ServiceB into the application context.</p> 
        <p>Here is an example of how the @Component annotation can be used to configure behavior for a bean through meta-annotations:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Service
@Scope("prototype")
public class MyBean {
   ...
}

          </xmp></code></pre> 
        <p>In this example, the MyBean class is marked with the @Service annotation, which is itself annotated with the @Component annotation. This tells the Spring framework to create an instance of the MyBean class, and then apply the @Scope("prototype") annotation to it. This is how meta-annotations can be used to configure the behavior of beans in the Spring application context.</p> 
        <h2>Output</h2> 
        <p>The output of the @Component annotation is that it allows the Spring framework to automatically process the class that is marked with it during startup. This makes it easier to create and manage beans in the application context. It also allows developers to configure the behavior of beans using meta-annotations, which can make the development process more efficient.</p> 
       </div> 
       <br> 
       <br> 
       <br> <!-- You may like --> 
       <h4>YOU MAY ALSO LIKE</h4> 
       <hr> 
       <div class="articles"> 
        <ul> 
         <li> <p> <a href="/articles/Java/Applets-And-AWT/AWT-Checkbox/"> AWT Checkbox </a> </p> <a href="/articles/Java/Applets-And-AWT/AWT-Checkbox/Create-AWT-Checkbox-Example.html">Create AWT Checkbox Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-05-03 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Wrapper-Classes/Byte-Wrapper-Class/"> Byte Wrapper Class </a> </p> <a href="/articles/Java/Wrapper-Classes/Byte-Wrapper-Class/Java-Byte-Example.html">Java Byte Example</a> <h6><i class="fa fa-clock-o"></i> <span>2022-08-01 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/"> ArrayList </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Sort-String-array-using-Arrays-class.html">Sort String array using Arrays class</a> <h6><i class="fa fa-clock-o"></i> <span>2022-11-04 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/TreeMap/"> TreeMap </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/TreeMap/How-to-compare-two-TreeMap-objects-in-Java.html">How to compare two TreeMap objects in Java</a> <h6><i class="fa fa-clock-o"></i> <span>2023-10-08 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/"> LinkedHashMap </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/How-to-get-all-values-of-LinkedHashMap-in-Java.html">How to get all values of LinkedHashMap in Java</a> <h6><i class="fa fa-clock-o"></i> <span>2022-07-26 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-6/"> Popular classes 6 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-6/de.hdodenhof.circleimageview.CircleImageView.html">d.h.c.CircleImageView</a> <h6><i class="fa fa-clock-o"></i> <span>2024-12-24 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-7/"> Popular classes 7 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-7/org.gradle.api.tasks.TaskAction.html">org.gradle.api.tasks.TaskAction</a> <h6><i class="fa fa-clock-o"></i> <span>2023-12-15 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-8/"> Popular classes 8 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-8/org.osgi.framework.ServiceReference.html">org.osgi.framework.ServiceReference</a> <h6><i class="fa fa-clock-o"></i> <span>2024-08-16 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/"> TreeSet </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/Copy-all-elements-of-Java-TreeSet-to-an-Object-Array-Example.html">Copy all elements of Java TreeSet to an Object Array Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-03-07 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Swing/JTextField/"> JTextField </a> </p> <a href="/articles/Java/Swing/JTextField/JTextField-Columns-Example.html">JTextField Columns Example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-12-16 </span> </h6> </li> 
        </ul> 
       </div> <!-- Email --> 
       <section> 
        <div class="email_section"> 
         <h4>Receive LATEST Jvm Examples In Your Email</h4> 
         <p>Enter your email address below to join 1000+ fellow learners:</p> 
         <input type="email" name="email" placeholder="email address"> <a href="/index.html">subscribe</a> 
        </div> 
       </section> <!-- Display comments --> 
       <div class="comment_section"> 
        <ul> 
         <li class="comment_img"><img src="/img/093.jpg"></li> 
         <li class="comment_desc"> <h3>Vartel</h3> <p><a href="#">2022-04-03 08:06</a></p> Grt ;-) <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
        <ul class="comment_reply"> 
         <li class="comment_img"> <img src="/img/093.jpg"> </li> 
         <li class="comment_desc"> <h3>Ojas</h3> <p><a href="#">2022-03-29 10:12</a></p> its very helpful programs to all Thanks...... <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
       </div> 
       <section> <!-- Add comment --> 
        <h4>ADD COMMENT</h4> 
        <hr> 
        <div class="applet_form"> <label>Comments<span class="required"></span></label> <textarea id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea> 
         <br> 
         <ul> 
          <li> <label>Name<span class="required"> *</span></label><br> <input type="text" name="name"> </li> 
          <li> <label>Email<span class="required"> *</span></label> <br> <input type="email" name="email"> </li> 
         </ul> 
         <div class="cepcha"> 
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><span>I'm not a robot</span> <a href="#"><img src="/img/cepcha-logo.jpg"></a> 
         </div> 
         <br> <a class="form_btn" href="/index.html">Post comment</a> 
        </div> 
        <br> 
       </section> 
      </div> 
      <div class="col-sm-12 col-lg-3 mt-5"> 
       <div class="sidebar"> 
        <h3 class="mt-5">SEARCH EXAMPLE</h3> 
        <form>
         <input name="s" type="text" value="" placeholder="Type here to search..."> <button type="submit"><i class="fa fa-search"></i></button> 
        </form> 
        <h3 class="mt-4">POPULAR EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/How-to-remove-elements-from-HashSet.html">How to remove elements from HashSet</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-1/java.io.FilenameFilter.html">java.io.FilenameFilter</a> </li> 
         <li> <a href="/articles/Java/Miscellaneous-Classes/System/Get-system-properties-using-System-class.html">Get system properties using System class</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/AWT-Choice/Get-Selected-Item-Of-AWT-Choice-Or-Combobox-Example.html">Get Selected Item Of AWT Choice Or Combobox Example</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/AWT-Label/Remove-AWT-Label-From-Applet-or-Window-Frame-Example.html">Remove AWT Label From Applet or Window Frame Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-2/javax.xml.bind.annotation.XmlAccessType.html">j.x.b.a.XmlAccessType</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/Iterate-LinkedList-in-reverse-direction-using-ListIterator.html">Iterate LinkedList in reverse direction using ListIterator</a> </li> 
         <li> <a href="/articles/Java/Wrapper-Classes/Boolean-Wrapper-Class/Java-Boolean-Example.html">Java Boolean Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/Check-if-a-particular-element-exists-in-Java-HashSet-Example.html">Check if a particular element exists in Java HashSet Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-1/java.net.UnknownHostException.html">java.net.UnknownHostException</a> </li> 
        </ul> 
        <h3 class="mt-5">FACEBOOK FANS</h3> 
        <div id="fb-root"></div> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v15.0&appId=101341636586609&autoLogAppEvents=1" nonce="2hjA2MLA"></script> 
        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100089200964004" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"> 
         <blockquote cite="https://www.facebook.com/profile.php?id=100089200964004" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/profile.php?id=100089200964004">Jvmexamples.com</a> 
         </blockquote> 
        </div> 
        <h3 class="mt-5">RECENTLY COMMENTED EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/HashSet/How-to-clear-or-remove-all-elements-from-HashSet.html">How to clear or remove all elements from HashSet</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Java-ArrayList-replace-element.html">Java ArrayList replace element</a> </li> 
         <li> <a href="/articles/Java/File-And-IO/PushbackInputStream/Java-PushbackInputStream-Example.html">Java PushbackInputStream Example</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/AWT-list/Make-Item-Of-AWT-List-Visible-Example.html">Make Item Of AWT List Visible Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Vector/How-to-sort-Vector-in-Java.html">How to sort Vector in Java</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-3/javax.ws.rs.core.HttpHeaders.html">javax.ws.rs.core.HttpHeaders</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-8/org.eclipse.jface.preference.IPreferenceStore.html">o.e.j.p.IPreferenceStore</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Comparator/Sort-LinkedHashMap-by-keys-using-Comparator-interface.html">Sort LinkedHashMap by keys using Comparator interface</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-7/android.net.wifi.ScanResult.html">android.net.wifi.ScanResult</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Get-Enumeration-over-Java-Vector-Example.html">Get Enumeration over Java Vector Example</a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <footer class="footer"> 
   <div class="container"> 
    <p> <a href="/">Copyright © 2022. Jvm Examples</a> <a href="/privacy-policy.html">Privacy Policy</a> <a href="/terms-of-use.html">Terms of use</a> <a href="/sitemap.html">Sitemap</a> <a href="/contact.html">Contact</a> </p> 
   </div> 
  </footer>  
 
</body></html>