<!doctype html>
<html lang="en"> 
 <head> 
  <title>jvmExamples.com - org.springframework.stereotype.Component</title> <!--timestamp=2026-04-23T00:36:14.925000810Z--> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  <script src="/js/bootstrap.bundle.min.js"></script> 
  <script src="/js/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="/js/prism.js"></script> 
  <link rel="stylesheet" type="text/css" href="/css/prism.css"> 
  <meta name="description" content="org.springframework.stereotype.Component"> 
  <meta name="keywords" content="org.springframework.stereotype.Component"> 
  <meta name="robots" content="index, follow"> <!-- facebook --> 
  <meta property="og:url" content="https://jvmexamples.com"> 
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="jvmExamples.com - org.springframework.stereotype.Component"> 
  <meta property="og:description" content="org.springframework.stereotype.Component"> 
  <meta property="og:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- twitter --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="jvmExamples.com"> 
  <meta name="twitter:title" content="jvmExamples.com - org.springframework.stereotype.Component"> 
  <meta name="twitter:description" content="org.springframework.stereotype.Component"> 
  <meta name="twitter:image" content="https://jvmexamples.com/img/jvm-examples-com-image.png"> <!-- Google analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKTBKHX64B"></script> 
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EKTBKHX64B');
    </script> <!-- Google ad sense --> 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1473157258033791" crossorigin="anonymous">
    </script> 
  <style>
        @font-face { font-family: "Roboto";src: url('/font/Roboto.ttf')}
        @font-face { font-family: "Roboto";
            src: url('/font/Roboto-Regular.ttf')
        }
    </style> 
 </head> 
 <body> 
  <header> 
   <div class="top_header"> 
    <nav class="navbar navbar-expand-lg navbar-light "> 
     <div class="container"> <a href="/" class="navbar_logo"><img src="/img/jvm-examples-com-logo.png" alt="logo" width="170" height="26"></a> <button id="mySidenav" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"> <span class="navbar-toggler-icon"></span> </button> 
      <div class="collapse navbar-collapse" id="navbarCollapse"> 
       <div class="navbar-nav"> <a href="/articles/Java/Java-Language-Fundamentals/" class="nav-item nav-link active">Fundamentals</a> <a href="/articles/Java/Collections-And-Data-Structures/" class="nav-item nav-link active">Collections</a> <a href="/articles/Java/Popular-Java-Classes/" class="nav-item nav-link active">Popular</a> <a href="/articles/Java/File-And-IO/" class="nav-item nav-link active">IO</a> <a href="/articles/Java/Java-Zip/" class="nav-item nav-link active">Compression</a> <a href="/articles/Java/Swing/" class="nav-item nav-link active">Swing</a> <a href="/articles/Java/Wrapper-Classes/" class="nav-item nav-link active">Wrappers</a> <a href="/articles/Java/Applets-And-AWT/" class="nav-item nav-link active">AWT</a> <a href="/articles/Java/Miscellaneous-Classes/" class="nav-item nav-link active">Misc</a> <a href="/articles/Java/Popular-classes/" class="nav-item nav-link active">Classes</a> 
       </div> 
      </div> 
      <div class="search_box"> <button onclick="myFunction()" class="dropbtn"><i class="fa fa-search"></i></button> 
       <div id="myDropdown" class="dropdown-content"> 
        <input type="text" placeholder="Type here to search..." id="myInput" onkeyup="filterFunction()"> 
       </div> 
      </div> 
     </div> 
    </nav> 
   </div> 
  </header> 
  <div id="home_page"> 
   <div class="container"> 
    <div class="home_contant"> 
     <div class="row"> 
      <div class="col-sm-12 col-lg-9 mt-5"> 
       <div class="applet_cycle_page"> 
        <div>
         <small>2022-02-08</small>
        </div> 
        <h1>Org.Springframework.Stereotype.Component</h1> 
        <p>Java is one of the most popular programming languages in the world and it is used in many different applications due to its versatility and ability to run across many platforms. One of the frameworks that is widely used in Java development is the Spring Framework. This framework provides a comprehensive infrastructure for developing enterprise-grade applications using Java.</p> 
        <p>Within the Spring Framework, the org.springframework.stereotype.Component annotation is commonly used in defining the scope and functionality of beans within the application context. Component is an annotation used to mark a Java class as a spring bean. The @Component annotation marks a java class as a bean so that it can be discovered by the Spring framework and included in the application context. Applying the @Component annotation to your classes will allow the Spring framework to automatically process them during startup.</p> 
        <h2>Code Examples</h2> 
        <p>Here is an example of Java code that uses the @Component annotation:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Component
public class MyBean {
    public void doSomething() {
        System.out.println("Doing something...");
    }
}

          </xmp></code></pre> 
        <p>In this example, the MyBean class is marked with the @Component annotation which tells the Spring framework to include it as a bean in the application context. This will allow the bean to be used in other parts of the application.</p> 
        <p>This is an example of how the @Component annotation can be used to create a dependency between two beans:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Component
public class ServiceA {
    private final ServiceB serviceB;

    public ServiceA(ServiceB serviceB) {
        this.serviceB = serviceB;
    }
}

@Component
public class ServiceB {
    private final Repository repository;

    public ServiceB(Repository repository) {
        this.repository = repository;
    }
}

          </xmp></code></pre> 
        <p>In this example, ServiceA and ServiceB are both marked with the @Component annotation. ServiceA has a constructor dependency on ServiceB, while ServiceB has a constructor dependency on Repository. This means that when the application context is created, the Spring framework will automatically create and inject the instances of ServiceA and ServiceB into the application context.</p> 
        <p>Here is an example of how the @Component annotation can be used to configure behavior for a bean through meta-annotations:</p> 
        <pre><code class="language-clike language-java line-numbers normalize-whitespace">
          <xmp>
           
@Service
@Scope("prototype")
public class MyBean {
   ...
}

          </xmp></code></pre> 
        <p>In this example, the MyBean class is marked with the @Service annotation, which is itself annotated with the @Component annotation. This tells the Spring framework to create an instance of the MyBean class, and then apply the @Scope("prototype") annotation to it. This is how meta-annotations can be used to configure the behavior of beans in the Spring application context.</p> 
        <h2>Output</h2> 
        <p>The output of the @Component annotation is that it allows the Spring framework to automatically process the class that is marked with it during startup. This makes it easier to create and manage beans in the application context. It also allows developers to configure the behavior of beans using meta-annotations, which can make the development process more efficient.</p> 
       </div> 
       <br> 
       <br> 
       <br> <!-- You may like --> 
       <h4>YOU MAY ALSO LIKE</h4> 
       <hr> 
       <div class="articles"> 
        <ul> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/"> ArrayList </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Get-random-elements-from-Java-HashSet-using-Arrays-class.html">Get random elements from Java HashSet using Arrays class</a> <h6><i class="fa fa-clock-o"></i> <span>2023-11-10 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/"> LinkedHashMap </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/Java-LinkedHashMap-forEach-example.html">Java LinkedHashMap forEach example</a> <h6><i class="fa fa-clock-o"></i> <span>2023-05-18 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/"> ArrayList </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/ArrayList/Initialize-ArrayList-with-elements-using-Arrays.html">Initialize ArrayList with elements using Arrays</a> <h6><i class="fa fa-clock-o"></i> <span>2022-10-15 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Java-Language-Fundamentals/Convertion/"> Convertion </a> </p> <a href="/articles/Java/Java-Language-Fundamentals/Convertion/Convert-any-primitive-type-to-String.html">Convert any primitive type to String</a> <h6><i class="fa fa-clock-o"></i> <span>2023-06-11 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Miscellaneous-Classes/System/"> System </a> </p> <a href="/articles/Java/Miscellaneous-Classes/System/Get-system-properties-using-System-class.html">Get system properties using System class</a> <h6><i class="fa fa-clock-o"></i> <span>2023-06-25 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-3/"> Popular classes 3 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-3/java.time.OffsetDateTime.html">java.time.OffsetDateTime</a> <h6><i class="fa fa-clock-o"></i> <span>2023-11-08 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/"> Iterator </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/Iterator/Iterate-through-Java-TreeMap-using-an-iterator.html">Iterate through Java TreeMap using an iterator</a> <h6><i class="fa fa-clock-o"></i> <span>2022-09-09 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-7/"> Popular classes 7 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-7/org.junit.runner.JUnitCore.html">org.junit.runner.JUnitCore</a> <h6><i class="fa fa-clock-o"></i> <span>2022-12-28 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Collections-And-Data-Structures/Collections/"> Collections </a> </p> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Convert-Vector-to-an-array.html">Convert Vector to an array</a> <h6><i class="fa fa-clock-o"></i> <span>2022-10-25 </span> </h6> </li> 
         <li> <p> <a href="/articles/Java/Popular-classes/Popular-classes-2/"> Popular classes 2 </a> </p> <a href="/articles/Java/Popular-classes/Popular-classes-2/org.springframework.boot.context.properties.EnableConfigurationProperties.html">EnableConfigurationProperties</a> <h6><i class="fa fa-clock-o"></i> <span>2022-07-20 </span> </h6> </li> 
        </ul> 
       </div> <!-- Email --> 
       <section> 
        <div class="email_section"> 
         <h4>Receive LATEST Jvm Examples In Your Email</h4> 
         <p>Enter your email address below to join 1000+ fellow learners:</p> 
         <input type="email" name="email" placeholder="email address"> <a href="/index.html">subscribe</a> 
        </div> 
       </section> <!-- Display comments --> 
       <div class="comment_section"> 
        <ul> 
         <li class="comment_img"><img src="/img/093.jpg"></li> 
         <li class="comment_desc"> <h3>Vartel</h3> <p><a href="#">2022-03-26 07:17</a></p> <p>These Programs Are Very Useful For Java Beginners!... Thanks! ...</p> <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
        <ul class="comment_reply"> 
         <li class="comment_img"> <img src="/img/093.jpg"> </li> 
         <li class="comment_desc"> <h3>Grigorii</h3> <p><a href="#">2022-03-18 14:58</a></p> it was very helpful <h5><a href="/index.html">REPLY</a></h5> 
          <hr> </li> 
        </ul> 
       </div> 
       <section> <!-- Add comment --> 
        <h4>ADD COMMENT</h4> 
        <hr> 
        <div class="applet_form"> <label>Comments<span class="required"></span></label> <textarea id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea> 
         <br> 
         <ul> 
          <li> <label>Name<span class="required"> *</span></label><br> <input type="text" name="name"> </li> 
          <li> <label>Email<span class="required"> *</span></label> <br> <input type="email" name="email"> </li> 
         </ul> 
         <div class="cepcha"> 
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><span>I'm not a robot</span> <a href="#"><img src="/img/cepcha-logo.jpg"></a> 
         </div> 
         <br> <a class="form_btn" href="/index.html">Post comment</a> 
        </div> 
        <br> 
       </section> 
      </div> 
      <div class="col-sm-12 col-lg-3 mt-5"> 
       <div class="sidebar"> 
        <h3 class="mt-5">SEARCH EXAMPLE</h3> 
        <form>
         <input name="s" type="text" value="" placeholder="Type here to search..."> <button type="submit"><i class="fa fa-search"></i></button> 
        </form> 
        <h3 class="mt-4">POPULAR EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/LinkedList/Search-elements-of-LinkedList-Java-example.html">Search elements of LinkedList Java example</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/Applet/Get-Applet-Context-Example.html">Get Applet Context Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-5/org.openjdk.jmh.annotations.OutputTimeUnit.html">o.o.j.a.OutputTimeUnit</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Convert-Vector-to-an-array.html">Convert Vector to an array</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/Collections/Convert-LinkedHashMap-to-two-arrays.html">Convert LinkedHashMap to two arrays</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-7/org.objectweb.asm.tree.ClassNode.html">org.objectweb.asm.tree.ClassNode</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/LinkedList/Remove-specified-element-from-LinkedList-Java-example.html">Remove specified element from LinkedList Java example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-2/java.util.zip.Deflater.html">java.util.zip.Deflater</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/TreeMap/Remove-value-from-Java-TreeMap-example.html">Remove value from Java TreeMap example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/TreeMap/How-to-get-all-keys-from-the-TreeMap.html">How to get all keys from the TreeMap</a> </li> 
        </ul> 
        <h3 class="mt-5">FACEBOOK FANS</h3> 
        <div id="fb-root"></div> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v15.0&appId=101341636586609&autoLogAppEvents=1" nonce="2hjA2MLA"></script> 
        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100089200964004" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"> 
         <blockquote cite="https://www.facebook.com/profile.php?id=100089200964004" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/profile.php?id=100089200964004">Jvmexamples.com</a> 
         </blockquote> 
        </div> 
        <h3 class="mt-5">RECENTLY COMMENTED EXAMPLES</h3> 
        <ul> 
         <li> <a href="/articles/Java/Swing/JLabel/Disable-JLabel-Example.html">Disable JLabel Example</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/LinkedHashMap/How-to-print-LinkedHashMap.html">How to print LinkedHashMap</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-5/org.springframework.util.FileCopyUtils.html">o.s.u.FileCopyUtils</a> </li> 
         <li> <a href="/articles/Java/Collections-And-Data-Structures/TreeSet/How-to-fix-Java-TreeSet-java.lang.ClassCastExcpetion-exception.html">H.l.ClassCastExcpetion exception</a> </li> 
         <li> <a href="/articles/Java/File-And-IO/DataOutputStream/Write-short-to-a-file-using-DataOutputStream.html">Write short to a file using DataOutputStream</a> </li> 
         <li> <a href="/articles/Java/Applets-And-AWT/Applet/Draw-Dots-at-Random-Locations-in-an-Applet-Example.html">Draw Dots at Random Locations in an Applet Example</a> </li> 
         <li> <a href="/articles/Java/File-And-IO/File-And-Directory/Determine-if-file-or-directory-exists.html">Determine if file or directory exists</a> </li> 
         <li> <a href="/articles/Java/Java-Zip/ZipFile/Find-File-in-a-Zip-File-Example.html">Find File in a Zip File Example</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-6/org.springframework.web.filter.GenericFilterBean.html">o.s.w.f.GenericFilterBean</a> </li> 
         <li> <a href="/articles/Java/Popular-classes/Popular-classes-1/javax.ws.rs.core.Response.html">javax.ws.rs.core.Response</a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <footer class="footer"> 
   <div class="container"> 
    <p> <a href="/">Copyright © 2022. Jvm Examples</a> <a href="/privacy-policy.html">Privacy Policy</a> <a href="/terms-of-use.html">Terms of use</a> <a href="/sitemap.html">Sitemap</a> <a href="/contact.html">Contact</a> </p> 
   </div> 
  </footer>  
 
</body></html>